        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Contact</h5>
                <p class="grey-text text-lighten-4">If you have any problems with a seller or buyer please do not contact us.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Email</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Why am I Here</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Google</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">SilkRoad</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2019 Copyright Text
            </div>
          </div>
        </footer>