  <nav>
    <div class="nav-wrapper">
<<<<<<< HEAD
      <a href="/" class="brand-logo">FYSH</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/listings">Items</a></li>
        <li><a href="/contact">Contact</a></li>
=======
      <a href="/" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/listings">Items</a></li>
        <li><a href="/signup">Sign Up</a></li>
>>>>>>> fa1254e42d2b7cbf06f28ae4ca132b0a84693d89
      </ul>
    </div>
  </nav>