<div class="container">

{{#each data}}

<h1>Edit item: {{name}}</h1>

<form action="/listings/{{id}}" method="POST">
  <label for="name">NAME:
    <input type="text" name="name">
  </label>

  <label for="description">DESCRIPTION:
    <input type="text" name="description">
  </label>

  <label for="picture">PICTURE:
    <input type="text" name="picture">
  </label>

  <label for="price">PRICE:
    <input type="text" name="price">
  </label>
{{/each}}
  <label for="category">
    <div class="input-field col s12">
      <select name='category'>
        {{#each data}}
          <option value="{{category}}">{{category}}</option>
        {{/each}}
      </select>
    </div>
  </label>


        <div class="divider"></div>
        <br>
        <button class="btn waves-effect waves-light" type="submit" value="submit" name="submit">Submit
    <i class="material-icons right">send</i>
  </button>
   

  {{!-- <input type="submit" value="Submit"> --}}
</form>

</div>