<h1>create item form here</h1>
<form action="/additem" method="post">
    Item Name:<br>
    <input type='text' name='name'><br>
    Description:<br>
    <input type='text' name='description'><br>
    $<br>
    <input type='text' name='price'><br>
    Category:<br>
    <div class="input-field col s12">
        <select name='category'>
            {{#each data}}
            <option value="{{category}}">{{category}}</option>
            {{/each}}
        </select>
    </div>
    User:<br>
        <div class="input-field col s12">
            <select name='user_id'>
                {{#each user}}
                <option value="{{id}}">{{username}}</option>
                {{/each}}
            </select>
        </div>
        <input type="text" name="picture" value="hammer.jpg">
        <div class="divider"></div>
        <br>
        <button class="btn waves-effect waves-light" type="submit" value="submit" name="submit">Submit
    <i class="material-icons right">send</i>
  </button>
    {{!-- <input type="submit" value="Submit"> --}}
</form>