<h4>create sign up form here</h4>

<form action="/add" method="POST">

<label for="name">Full Name:
    <input type="text" name="name">
</label>
<br>
<label for="username">: Username
    <input type="text" name="username">
</label>
<br>
{{!-- <label for="password">Password:
    <input type="text" name="password">
</label>  --}}
<label for="email">Email:
    <input type="text" name="email">
</label> 

    <button type="submit">Sign up</button>
</form>